**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build
/assets/fonts
/android/app/src/main/res/values/strings.xml
/lib/firebase_options.dart